/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}html {
  height: 100%;
}

body {
  min-height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  color: #2b2e34;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 18px;
  line-height: 2rem;
}

a {

  text-decoration: none;
}

a {
  color: #9068be;
}

a:hover, a:visited:hover {
  color: #9068be;
}

a:visited {
  color: #9068be;
}

.flex-css--BASE--2dvLr {
  display: -ms-flexbox;
  display: flex

}

.flex-css--BASE--2dvLr > * {
  max-width: 100%;
  min-width: 0px

}

.flex-css--WRAP--3LiR_ {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-css--ALIGN_start--2o4Yn {
  -ms-flex-align: start;
      align-items: flex-start;
}

.flex-css--ALIGN_end--3yQ8E {
  -ms-flex-align: end;
      align-items: flex-end;
}

.flex-css--ALIGN_center--bw843 {
  -ms-flex-align: center;
      align-items: center;
}

.flex-css--ALIGN_stretch--1cADa {
  -ms-flex-align: stretch;
      align-items: stretch;
}

.flex-css--ALIGN_baseline--JOMDq {
  -ms-flex-align: baseline;
      align-items: baseline;
}

.flex-css--JUSTIFY_start--2JLbl {
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.flex-css--JUSTIFY_end--3HQtK {
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.flex-css--JUSTIFY_center--Wmwtw {
  -ms-flex-pack: center;
      justify-content: center;
}

.flex-css--JUSTIFY_between--1O8pg {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.flex-css--JUSTIFY_around--1j1UH {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-css--DIRECTION_row--V3dGL {
  -ms-flex-direction: row;
      flex-direction: row;
}

.flex-css--DIRECTION_column--2cj-q {
  -ms-flex-direction: column;
      flex-direction: column;
}

.flex-css--DIRECTION_rowReverse--2M0sf {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.flex-css--DIRECTION_columnReverse--2p53D {
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}

.flex-css--BASIS_full--2mDsS {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.flex-css--BASIS_auto--22yHX {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.grid-css--BASE--ExoRX {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-left: 9px;
  padding-right: 9px

}
  @media (min-width: 501px) {
  .grid-css--BASE--ExoRX {
    padding-left: 12px;
    padding-right: 12px

  }
  }

.grid-css--INNER--ibL5k {
  -ms-flex-positive: 1;
      flex-grow: 1;
  border: 1px solid #e1e8f0;
  border-radius: 0.2rem;
}

.grid-css--SMALL_1--3ft14 {

}

@media {
  .grid-css--SMALL_1--3ft14 {
    -ms-flex-preferred-size: 8.333333333333332%;
        flex-basis: 8.333333333333332%

  }
  }

.grid-css--SMALL_2--2vPtJ {

}

@media {
  .grid-css--SMALL_2--2vPtJ {
    -ms-flex-preferred-size: 16.666666666666664%;
        flex-basis: 16.666666666666664%

  }
  }

.grid-css--SMALL_3--Fop_b {

}

@media {
  .grid-css--SMALL_3--Fop_b {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%

  }
  }

.grid-css--SMALL_4--FzqT9 {

}

@media {
  .grid-css--SMALL_4--FzqT9 {
    -ms-flex-preferred-size: 33.33333333333333%;
        flex-basis: 33.33333333333333%

  }
  }

.grid-css--SMALL_5--3_ULu {

}

@media {
  .grid-css--SMALL_5--3_ULu {
    -ms-flex-preferred-size: 41.66666666666667%;
        flex-basis: 41.66666666666667%

  }
  }

.grid-css--SMALL_6--RQItl {

}

@media {
  .grid-css--SMALL_6--RQItl {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%

  }
  }

.grid-css--SMALL_7--3yr51 {

}

@media {
  .grid-css--SMALL_7--3yr51 {
    -ms-flex-preferred-size: 58.333333333333336%;
        flex-basis: 58.333333333333336%

  }
  }

.grid-css--SMALL_8--xJvf7 {

}

@media {
  .grid-css--SMALL_8--xJvf7 {
    -ms-flex-preferred-size: 66.66666666666666%;
        flex-basis: 66.66666666666666%

  }
  }

.grid-css--SMALL_9--2rKeB {

}

@media {
  .grid-css--SMALL_9--2rKeB {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%

  }
  }

.grid-css--SMALL_10--wMnbw {

}

@media {
  .grid-css--SMALL_10--wMnbw {
    -ms-flex-preferred-size: 83.33333333333334%;
        flex-basis: 83.33333333333334%

  }
  }

.grid-css--SMALL_11--3L8eo {

}

@media {
  .grid-css--SMALL_11--3L8eo {
    -ms-flex-preferred-size: 91.66666666666666%;
        flex-basis: 91.66666666666666%

  }
  }

.grid-css--SMALL_12--3aqF1 {

}

@media {
  .grid-css--SMALL_12--3aqF1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%

  }
  }

.grid-css--SMALL_auto--3rRKT {

}

@media {
  .grid-css--SMALL_auto--3rRKT {
    -ms-flex-preferred-size: auto;
        flex-basis: auto

  }
  }

.grid-css--MEDIUM_1--3SQsA {

}

@media (min-width: 501px) {
  .grid-css--MEDIUM_1--3SQsA {
    -ms-flex-preferred-size: 8.333333333333332%;
        flex-basis: 8.333333333333332%

  }
  }

.grid-css--MEDIUM_2--1HQ5d {

}

@media (min-width: 501px) {
  .grid-css--MEDIUM_2--1HQ5d {
    -ms-flex-preferred-size: 16.666666666666664%;
        flex-basis: 16.666666666666664%

  }
  }

.grid-css--MEDIUM_3--1xpwG {

}

@media (min-width: 501px) {
  .grid-css--MEDIUM_3--1xpwG {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%

  }
  }

.grid-css--MEDIUM_4--1QL2N {

}

@media (min-width: 501px) {
  .grid-css--MEDIUM_4--1QL2N {
    -ms-flex-preferred-size: 33.33333333333333%;
        flex-basis: 33.33333333333333%

  }
  }

.grid-css--MEDIUM_5--gIN6M {

}

@media (min-width: 501px) {
  .grid-css--MEDIUM_5--gIN6M {
    -ms-flex-preferred-size: 41.66666666666667%;
        flex-basis: 41.66666666666667%

  }
  }

.grid-css--MEDIUM_6--2C4Sw {

}

@media (min-width: 501px) {
  .grid-css--MEDIUM_6--2C4Sw {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%

  }
  }

.grid-css--MEDIUM_7--1JqRl {

}

@media (min-width: 501px) {
  .grid-css--MEDIUM_7--1JqRl {
    -ms-flex-preferred-size: 58.333333333333336%;
        flex-basis: 58.333333333333336%

  }
  }

.grid-css--MEDIUM_8--17Lga {

}

@media (min-width: 501px) {
  .grid-css--MEDIUM_8--17Lga {
    -ms-flex-preferred-size: 66.66666666666666%;
        flex-basis: 66.66666666666666%

  }
  }

.grid-css--MEDIUM_9--2aAXm {

}

@media (min-width: 501px) {
  .grid-css--MEDIUM_9--2aAXm {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%

  }
  }

.grid-css--MEDIUM_10--3IvbY {

}

@media (min-width: 501px) {
  .grid-css--MEDIUM_10--3IvbY {
    -ms-flex-preferred-size: 83.33333333333334%;
        flex-basis: 83.33333333333334%

  }
  }

.grid-css--MEDIUM_11--80tRd {

}

@media (min-width: 501px) {
  .grid-css--MEDIUM_11--80tRd {
    -ms-flex-preferred-size: 91.66666666666666%;
        flex-basis: 91.66666666666666%

  }
  }

.grid-css--MEDIUM_12--asLbg {

}

@media (min-width: 501px) {
  .grid-css--MEDIUM_12--asLbg {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%

  }
  }

.grid-css--MEDIUM_auto--3vZoc {

}

@media (min-width: 501px) {
  .grid-css--MEDIUM_auto--3vZoc {
    -ms-flex-preferred-size: auto;
        flex-basis: auto

  }
  }

.grid-css--LARGE_1--JToDu {

}

@media (min-width: 901px) {
  .grid-css--LARGE_1--JToDu {
    -ms-flex-preferred-size: 8.333333333333332%;
        flex-basis: 8.333333333333332%

  }
  }

.grid-css--LARGE_2--1SOTY {

}

@media (min-width: 901px) {
  .grid-css--LARGE_2--1SOTY {
    -ms-flex-preferred-size: 16.666666666666664%;
        flex-basis: 16.666666666666664%

  }
  }

.grid-css--LARGE_3--rL_fT {

}

@media (min-width: 901px) {
  .grid-css--LARGE_3--rL_fT {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%

  }
  }

.grid-css--LARGE_4--2Fxxp {

}

@media (min-width: 901px) {
  .grid-css--LARGE_4--2Fxxp {
    -ms-flex-preferred-size: 33.33333333333333%;
        flex-basis: 33.33333333333333%

  }
  }

.grid-css--LARGE_5--1vdvn {

}

@media (min-width: 901px) {
  .grid-css--LARGE_5--1vdvn {
    -ms-flex-preferred-size: 41.66666666666667%;
        flex-basis: 41.66666666666667%

  }
  }

.grid-css--LARGE_6--2ded2 {

}

@media (min-width: 901px) {
  .grid-css--LARGE_6--2ded2 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%

  }
  }

.grid-css--LARGE_7--3Y-_Y {

}

@media (min-width: 901px) {
  .grid-css--LARGE_7--3Y-_Y {
    -ms-flex-preferred-size: 58.333333333333336%;
        flex-basis: 58.333333333333336%

  }
  }

.grid-css--LARGE_8--1WCck {

}

@media (min-width: 901px) {
  .grid-css--LARGE_8--1WCck {
    -ms-flex-preferred-size: 66.66666666666666%;
        flex-basis: 66.66666666666666%

  }
  }

.grid-css--LARGE_9--1NjjQ {

}

@media (min-width: 901px) {
  .grid-css--LARGE_9--1NjjQ {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%

  }
  }

.grid-css--LARGE_10--atbWR {

}

@media (min-width: 901px) {
  .grid-css--LARGE_10--atbWR {
    -ms-flex-preferred-size: 83.33333333333334%;
        flex-basis: 83.33333333333334%

  }
  }

.grid-css--LARGE_11--2BQnc {

}

@media (min-width: 901px) {
  .grid-css--LARGE_11--2BQnc {
    -ms-flex-preferred-size: 91.66666666666666%;
        flex-basis: 91.66666666666666%

  }
  }

.grid-css--LARGE_12--V0AQd {

}

@media (min-width: 901px) {
  .grid-css--LARGE_12--V0AQd {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%

  }
  }

.grid-css--LARGE_auto--3hr6g {

}

@media (min-width: 901px) {
  .grid-css--LARGE_auto--3hr6g {
    -ms-flex-preferred-size: auto;
        flex-basis: auto

  }
  }

.row-css--BASE--3eQq2 {
  margin-left: 3px;
  margin-right: 3px

}
  @media (min-width: 501px) {
  .row-css--BASE--3eQq2 {
    margin-left: 12px;
    margin-right: 12px

  }
  }
  .row-css--BASE--3eQq2 .row-css--BASE--3eQq2 {
  margin-left: -9px;
  margin-right: -9px

}
  @media (min-width: 501px) {
  .row-css--BASE--3eQq2 .row-css--BASE--3eQq2 {
    margin-left: -12px;
    margin-right: -12px

  }

}

.container-css--BASE--WQO4E {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.heading-css--BASE--1OmPi {
  font-weight: 600;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%

}

.heading-css--BASE--1OmPi:hover .heading-css--LINK--3ylkf {
  opacity: 1

}

.heading-css--LEVEL_1--3S8zQ {
  font-size: 4.235801032000001rem;
  line-height: 8.471602064000002rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.heading-css--LEVEL_2--3r7j_ {
  font-size: 2.6179240000000004rem;
  line-height: 5.235848000000001rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.heading-css--LEVEL_3--3twRh {
  font-size: 1.618rem;
  line-height: 3.236rem;
  margin-bottom: 0rem;
  margin-top: 2rem;
}

.heading-css--LEVEL_4--2Jjig {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 0rem;
  margin-top: 2rem;
}

.list-css--BASE--2Bqbe {
  line-height: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 2rem;
  margin-bottom: 2rem

}

.list-css--BASE--2Bqbe .list-css--BASE--2Bqbe {
  margin-bottom: 0

}

.list-css--ORDERED--IJiP2 {
  list-style-type: decimal;
}

.list-css--UNORDERED--3sEl0 {
  list-style-type: disc;
}

.item-css--BASE--I9eWb {
  display: list-item;
}

.paragraph-css--BASE--15sOo {
  line-height: 2rem;
  margin-bottom: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.rich-text-css--BASE--1_Jnc {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%

}
.rich-text-css--BASE--1_Jnc h1, .rich-text-css--BASE--1_Jnc h2, .rich-text-css--BASE--1_Jnc h3, .rich-text-css--BASE--1_Jnc h4, .rich-text-css--BASE--1_Jnc h5, .rich-text-css--BASE--1_Jnc h6 {
  font-weight: 600;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%

}
.rich-text-css--BASE--1_Jnc h1:hover .rich-text-css--LINK--1_WkX, .rich-text-css--BASE--1_Jnc h2:hover .rich-text-css--LINK--1_WkX, .rich-text-css--BASE--1_Jnc h3:hover .rich-text-css--LINK--1_WkX, .rich-text-css--BASE--1_Jnc h4:hover .rich-text-css--LINK--1_WkX, .rich-text-css--BASE--1_Jnc h5:hover .rich-text-css--LINK--1_WkX, .rich-text-css--BASE--1_Jnc h6:hover .rich-text-css--LINK--1_WkX {
  opacity: 1

}
.rich-text-css--BASE--1_Jnc h1 {
  font-size: 4.235801032000001rem;
  line-height: 8.471602064000002rem;
  margin-bottom: 2rem;
  margin-top: 2rem

}
.rich-text-css--BASE--1_Jnc h2 {
  font-size: 2.6179240000000004rem;
  line-height: 5.235848000000001rem;
  margin-bottom: 2rem;
  margin-top: 2rem

}
.rich-text-css--BASE--1_Jnc h3 {
  font-size: 1.618rem;
  line-height: 3.236rem;
  margin-bottom: 0rem;
  margin-top: 2rem

}
.rich-text-css--BASE--1_Jnc h4, .rich-text-css--BASE--1_Jnc h5, .rich-text-css--BASE--1_Jnc h6 {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 0rem;
  margin-top: 2rem

}
.rich-text-css--BASE--1_Jnc p {
  line-height: 2rem;
  margin-bottom: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%

}
.rich-text-css--BASE--1_Jnc ul, .rich-text-css--BASE--1_Jnc ol {
  line-height: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 2rem;
  margin-bottom: 2rem

}
.rich-text-css--BASE--1_Jnc ul .rich-text-css--BASE--1_Jnc ul, .rich-text-css--BASE--1_Jnc ol .rich-text-css--BASE--1_Jnc ol {
  margin-bottom: 0

}
.rich-text-css--BASE--1_Jnc ul {
  list-style-type: disc

}
.rich-text-css--BASE--1_Jnc ol {
  list-style-type: decimal

}
.rich-text-css--BASE--1_Jnc li {
  display: list-item

}
.rich-text-css--BASE--1_Jnc code {
  display: inline;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: #f4f8fd;
  border-radius: 0.2rem

}
.rich-text-css--BASE--1_Jnc b, .rich-text-css--BASE--1_Jnc strong {
  font-weight: bold

}

.anchor-css--BASE--16OZ6 {
  font-weight: 600;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
  padding-left: 2rem;
  margin-left: -2rem

}

.anchor-css--BASE--16OZ6:hover .anchor-css--LINK--3vtgL {
  opacity: 1

}

.anchor-css--LINK--3vtgL {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  transition: opacity 0.125s;
}

.code-css--INLINE--15JuO {
  display: inline;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: #f4f8fd;
  border-radius: 0.2rem;
}

.code-css--BLOCK--1IuvS {
  line-height: 2rem;
  margin-bottom: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background: #f4f8fd;
  border-radius: 0.2rem

}

.code-css--BLOCK--1IuvS .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #2b2e34;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.code-css--BLOCK--1IuvS .hljs-comment {
  color: #9da1a8;
  font-style: italic;
}

.code-css--BLOCK--1IuvS .hljs-quote {
  color: #9da1a8;
  font-style: italic;
}

.code-css--BLOCK--1IuvS .hljs-keyword {
  color: #2b2e34;
  font-weight: bold;
}

.code-css--BLOCK--1IuvS .hljs-selector-tag {
  color: #2b2e34;
  font-weight: bold;
}

.code-css--BLOCK--1IuvS .hljs-subst {
  color: #2b2e34;
  font-weight: normal;
}

.code-css--BLOCK--1IuvS .hljs-number {
  color: #6ed3cf;
}

.code-css--BLOCK--1IuvS .hljs-literal {
  color: #6ed3cf;
}

.code-css--BLOCK--1IuvS .hljs-variable {
  color: #6ed3cf;
}

.code-css--BLOCK--1IuvS .hljs-template-variable {
  color: #6ed3cf;
}

.code-css--BLOCK--1IuvS .hljs-tag .hljs-attr {
  color: #6ed3cf;
}

.code-css--BLOCK--1IuvS .hljs-string {
  color: #e62739;
}

.code-css--BLOCK--1IuvS .hljs-doctag {
  color: #e62739;
}

.code-css--BLOCK--1IuvS .hljs-title {
  color: #b9091a;
  font-weight: bold;
}

.code-css--BLOCK--1IuvS .hljs-section {
  color: #b9091a;
  font-weight: bold;
}

.code-css--BLOCK--1IuvS .hljs-selector-id {
  color: #b9091a;
  font-weight: bold;
}

.code-css--BLOCK--1IuvS .hljs-type {
  color: #9068be;
  font-weight: bold;
}

.code-css--BLOCK--1IuvS .hljs-class .hljs-title {
  color: #9068be;
  font-weight: bold;
}

.code-css--BLOCK--1IuvS .hljs-tag {
  color: #5a1ba2;
  font-weight: normal;
}

.code-css--BLOCK--1IuvS .hljs-name {
  color: #5a1ba2;
  font-weight: normal;
}

.code-css--BLOCK--1IuvS .hljs-attribute {
  color: #5a1ba2;
  font-weight: normal;
}

.code-css--BLOCK--1IuvS .hljs-regexp {
  color: #23A944;
}

.code-css--BLOCK--1IuvS .hljs-link {
  color: #23A944;
}

.code-css--BLOCK--1IuvS .hljs-symbol {
  color: #990073;
}

.code-css--BLOCK--1IuvS .hljs-bullet {
  color: #990073;
}

.code-css--BLOCK--1IuvS .hljs-built_in {
  color: #0086b3;
}

.code-css--BLOCK--1IuvS .hljs-builtin-name {
  color: #0086b3;
}

.code-css--BLOCK--1IuvS .hljs-meta {
  color: #9da1a8;
  font-weight: bold;
}

.code-css--BLOCK--1IuvS .hljs-deletion {
  background: #fdd;
}

.code-css--BLOCK--1IuvS .hljs-addition {
  background: #dfd;
}

.code-css--BLOCK--1IuvS .hljs-emphasis {
  font-style: italic;
}

.code-css--BLOCK--1IuvS .hljs-strong {
  font-weight: bold;
}

.bold-css--BASE--30Uen {
  font-weight: bold;
}

.panel-css--BASE--9WSqF {
  line-height: 2rem;
  margin-bottom: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border: 1px solid #e1e8f0;
  border-radius: 0.2rem;
}

.panel-css--INNER--601yr {
  margin: 2rem;
}

.header-css--BASE--1zqKL {
  background-color: #f4f8fd;
  height: 80px;
}

.title-css--BASE--2laTW {
  font-size: 24px;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-align: center;
      align-items: center;
  white-space: nowrap;
}
.title-css--BASE--2laTW {
  color: #4d5256;
}
.title-css--BASE--2laTW:hover, .title-css--BASE--2laTW:visited:hover {
  color: #656c71;
}
.title-css--BASE--2laTW:visited {
  color: #4d5256;
}

.item-css--BASE--YxIxg {

}
.item-css--BASE--YxIxg:not(:first-child) {
    margin-left: 10px
}
.item-css--BASE--YxIxg:not(:last-child) {
    margin-right: 10px
}
.item-css--BASE--YxIxg {
    color: #4d5256
}
.item-css--BASE--YxIxg:hover, .item-css--BASE--YxIxg:visited:hover {
    color: #656c71
}
.item-css--BASE--YxIxg:visited {
    color: #4d5256
}

